<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link href="${rc.contextPath}/vender/css/bootstrap.min.css" rel="stylesheet" >
<link href="${rc.contextPath}/vender/css/font-awesome.min.css" rel="stylesheet" >
<link href="${rc.contextPath}/vender/plugins/jqgrid/ui.jqgrid-bootstrap.css" rel="stylesheet" >
<link href="${rc.contextPath}/vender/plugins/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" >
<link href="${rc.contextPath}/vender/css/main.css">

<script src="${rc.contextPath}/vender/libs/jquery.min.js"></script>
<script src="${rc.contextPath}/vender/plugins/layer/layer.js"></script>
<script src="${rc.contextPath}/vender/libs/bootstrap.min.js"></script>
<script src="${rc.contextPath}/vender/libs/vue.min.js"></script>
<script src="${rc.contextPath}/vender/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${rc.contextPath}/vender/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${rc.contextPath}/vender/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${rc.contextPath}/js/common.js"></script>